### 예제 - 사칙연산

In [1]:
#파이썬 사칙연산
integer_value = 123
float_value = 12.456
# 1. 더하기 연산
sum = integer_value+float_value
print(sum)
# 2. 곱하기 연산
multiple = integer_value*float_value
print(multiple)
# 3. 나누기 연산
division = integer_value/float_value
print(division)
# 4. 제곱연산
integer_value2 = int(float_value)
exponential = integer_value2**2
print(exponential)
# 5. 나머지 연산
mod = integer_value%int(float_value)
print(mod)

135.456
1532.088
9.8747591522158
144
3

In [ ]:
### 실습 - 사칙연산

In [4]:
import datetime as dt
current_time = dt.datetime.now()
current_time

datetime.datetime(2018, 11, 13, 13, 16, 10, 710840)

In [10]:
current_min = current_time.tzname

In [11]:
current_min

In [21]:
a = """"this is 'string" vaule"""
type(a)

str